body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table,
.table-valute {
  margin: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}
th {
  background: #6ce6c1;
  /*color: white;
  text-shadow: 0 1px 1px #2d2020; */
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
tr {
  min-width: 700px;
}
td:first-child:hover {
  background: rgb(0, 255, 98);
}

th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #bcebf7;
}

tr td:last-child {
  border-right: none;
}

.card {
  margin: 100px auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-valute {
  min-width: 500px;
}

.back-btn {
  margin-top: 15px;
  width: 120px;
  height: 40px;
  background-color: #84c7ee;
}

.fetching {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 30vh auto;
  border: 2px dashed rgb(0, 119, 255);
  animation-name: search-fetching;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes search-fetching {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(1.3);
  }
}
